<div class="skill-icon-div">
  <div class="skill-icon" *ngFor="let item of skillIcons">
    <img [src]="item.img" [alt]="item.description + ' Icon'" />
    <span>{{ item.description }}</span>
  </div>
  <div class="skill-icon">
    <img
      class="continually-learning-img"
      src="assets/img/continuallylearning.png"
      alt="Continually Learning Icon"
      (mouseenter)="showSkillBubble = true"
      (mouseleave)="showSkillBubble = false"
      *ngIf="!showSkillBubble"
    />
    <img
      class="continually-learning-img"
      src="assets/img/continuallylearning_white.png"
      alt="Icon"
      *ngIf="showSkillBubble"
      (mouseenter)="showSkillBubble = true"
      (mouseleave)="showSkillBubble = false"
    />
    <app-skill-bubble *ngIf="showSkillBubble"></app-skill-bubble>
  </div>
</div>
