.skill-icon-div {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 664px;
    column-gap: 88px;
    row-gap: 24px;
    position: relative;
}

.skill-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 88px;
    height: 101px;
    padding-top: 12px;
    gap: 10px;
    position: relative;
}

app-skill-bubble {
    margin-top: -280px;
}

img { 
    height: 60px;
    width: 53px;
    animation: none;
}

img:hover {
    animation: jump-fall 1s ease-in-out;  
}

.continually-learning-img {
    width: 95px !important;
    height: 120px !important;
    animation: none !important;
    margin-top: -13px;
}

@keyframes jump-fall {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 1300px) {
    .skill-icon-div {
        column-gap: 70px !important;
        width: 535px !important;
    }
}

@media (max-width:1200px) {
    .skill-icon-div {
        column-gap: 88px !important;
        width: 560px !important;
    }
}

@media (max-width: 1024px) {
    .skill-icon-div {
        column-gap: 80px !important;
        width: 470px !important;
    }
}

@media (max-width: 950px) {
    .skill-icon-div {
        column-gap: 70px !important;
        width: 430px !important;
    }
}

@media (max-width: 880px) {
    .skill-icon-div {
        column-gap: 60px !important;
        width: 400px !important;
    }
}

@media (max-width: 800px) {
    .skill-icon-div {
        column-gap: 50px !important;
        width: 380px !important;
    }
}

@media (max-width: 768px) {
    .skill-icon-div {
        width: 75vw;
        column-gap: 60px;
        justify-content: center;
        padding: 0px 9vw 0px 0px;
    }
}

@media (max-width: 511px)  {
    .skill-icon-div { 
        width: 80vw;
    }
}

@media (max-width: 380px) {
    .skill-icon-div {
        column-gap: 15px !important;
    }
}    