<div class="contact-section">
  <div class="contact-info">
    <h2>Got a problem to solve?</h2>
    <p>
      Contact me through this form, I am interested in hearing<br />
      from you, knowing your ideas and contributing to your<br />
      projects with my work.
    </p>
    <span>Need a Frontend developer? <b>Contact me!</b></span>
  </div>

  <!-- <div class="contact-form">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <input formControlName="name" placeholder="Your name" required />
      <div
        *ngIf="
          contactForm.get('name')?.invalid && contactForm.get('name')?.touched
        "
      >
        Name must be 2-50 characters long and contain only letters.
      </div>
      <input
        formControlName="email"
        placeholder="Your email"
        type="email"
        required=""
      />
      <div
        *ngIf="
          contactForm.get('email')?.invalid && contactForm.get('email')?.touched
        "
      >
        Please enter a valid email address.
      </div>
      <textarea
        formControlName="message"
        placeholder="Your message"
        rows="5"
        required
      ></textarea>
      <div
        *ngIf="
          contactForm.get('message')?.invalid &&
          contactForm.get('message')?.touched
        "
      >
        Message must be at least 10 characters long.
      </div>
      <div class="checkbox-div">
        <label class="check">
          <input type="checkbox" formControlName="privacy" required />
          I've read the
          <a href="#privacyPolicy"
            ><span style="color: #9747ff">privacy policy</span></a
          >
          and agree to the processing of my data.
        </label>
        <div
          *ngIf="
            contactForm.get('privacy')?.invalid &&
            contactForm.get('privacy')?.touched
          "
        >
          You must accept the privacy policy.
        </div>
 -->
  <div class="container">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <input
        #name="ngModel"
        [(ngModel)]="contactData.name"
        type="text"
        id="name"
        name="name"
        placeholder="Your name"
        required
      />
      @if (!name.valid && name.touched) {
      <p>Please enter your name</p>
      }
      <input
        #email="ngModel"
        [(ngModel)]="contactData.email"
        type="email"
        id="email"
        name="email"
        placeholder="Your email"
        required
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
      />
      @if (!email.valid && email.touched) {
      <p>Please enter your email</p>
      }
      <textarea
        #message="ngModel"
        minlength="4"
        [(ngModel)]="contactData.message"
        id="message"
        name="message"
        placeholder="Your message"
        required
      ></textarea>
      @if (!message.valid && message.touched) {
      <p>Please enter a message</p>
      }

      <div class="checkbox-div">
        <input
          type="checkbox"
          #privacy="ngModel"
          [(ngModel)]="contactData.privacy"
          [ngModelOptions]="{ standalone: true }"
          (click)="togglePrivacy()"
          required
        />
        <p>
          I've read the
          <a [routerLink]="'/privacy-policy'" style="color: #9747ff">
            privacy policy
          </a>
          and agree to the processing of my data.
        </p>
        @if (!privacy.valid && privacy.touched) {
        <p>Please accept the privacy policy.</p>
        }
      </div>
      <input
        [disabled]="contactForm.invalid"
        type="submit"
        value="Send message"
      />
    </form>
    <div class="scroll-up-div">
      <div>
        <a href="#"><img src="assets/img/scrollup.png" alt="Scroll Up" /></a>
      </div>
    </div>
  </div>

  <!-- Submit-Button (Deaktiviert, falls Checkbox nicht angehakt) -->
  <!-- <button type="submit" [disabled]="contactForm.invalid">Send message</button> -->
</div>
<!--    </form>
  </div>
</div>
 -->
