<div class="contact-section">
  <div class="contact-info">
    <h2>{{ "CONTACT_FORM.TITLE" | translate }}</h2>
    <p [innerHTML]="'CONTACT_FORM.DESCRIPTION' | translate"></p>
    <span [innerHTML]="'CONTACT_FORM.BONUS_INFO' | translate"></span>
  </div>

  <div class="container">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <input
        #name="ngModel"
        [(ngModel)]="contactData.name"
        type="text"
        id="name"
        name="name"
        [placeholder]="'CONTACT_FORM.PLACEHOLDER_NAME' | translate"
        required
      />
      <div class="alert-div" [class.show]="!name.valid && name.touched">
        <p [innerHTML]="'CONTACT_FORM.ALERT_NAME' | translate"></p>
      </div>
      <input
        #email="ngModel"
        [(ngModel)]="contactData.email"
        type="email"
        id="email"
        name="email"
        [placeholder]="'CONTACT_FORM.PLACEHOLDER_MAIL' | translate"
        required
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
      />
      <div class="alert-div" [class.show]="!email.valid && email.touched">
        <p [innerHTML]="'CONTACT_FORM.ALERT_MAIL' | translate"></p>
      </div>
      <textarea
        #message="ngModel"
        minlength="4"
        [(ngModel)]="contactData.message"
        id="message"
        name="message"
        [placeholder]="'CONTACT_FORM.PLACEHOLDER_MESSAGE' | translate"
        required
      ></textarea>
      <div class="alert-div" [class.show]="!message.valid && message.touched">
        <p [innerHTML]="'CONTACT_FORM.ALERT_MESSAGE' | translate"></p>
      </div>
      <div class="checkbox-div">
        <input
          type="checkbox"
          class="check"
          #privacy="ngModel"
          [(ngModel)]="contactData.privacy"
          name="privacy"
          (click)="togglePrivacy()"
          required
        />
        <p>
          {{ "CONTACT_FORM.READ_PRIVACY_POLICY" | translate }}
          <a [routerLink]="'/privacy-policy'" style="color: #9747ff">
            {{ "CONTACT_FORM.PRIVACY_POLICY" | translate }}
          </a>
          {{ "CONTACT_FORM.READ_PRIVACY_POLICY2" | translate }}
        </p>
      </div>
      <div class="alert-div" [class.show]="!privacy.valid && privacy.touched">
        <p [innerHTML]="'CONTACT_FORM.ALERT_PRIVACY_POLICY' | translate"></p>
      </div>
      <div class="submit-div">
        <button type="submit" [disabled]="!contactForm.valid">
          {{ "CONTACT_FORM.BUTTON" | translate }}
        </button>
      </div>
    </form>
    <div class="scroll-up-div">
      <div>
        <a href="#"><img src="assets/img/scrollup.png" alt="Scroll Up" /></a>
      </div>
    </div>
  </div>
</div>
<app-mail-overlay *ngIf="showMailOverlay"></app-mail-overlay>
