.front-page-background{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10vw 100px 0px 10vw;

    .front-page-info-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.background-container {
    max-height: 100%;
    object-fit: contain;
}

img {
    display: flex;
    width: 100%;
    height: 45vh;
    overflow: hidden;
}

.social-icons-scroll-down {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: -60px;
}