.front-page-container {
    height: calc(95vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.front-page-background{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-right: 100px;

    .front-page-info-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        margin-left: -15vw;
    }
}

.background-container {
    object-fit: contain;
    margin-top: -35vh;
    width: 100vw;
    height: 50vh;
    overflow: hidden;

    img {
        height: 70vh;
        width: 100%;
        position: relative;
        z-index: 1;
    }
}

.social-icons-scroll-down {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    z-index: 2;
}

@media (min-width: 2000px) {
    .front-page-background {
            max-width: 1920px;  
            padding: 0 calc(50vw - 960px) 0 calc(50vw - 960px);
        }
    }

@media (max-width: 1024px) {
    .background-container {
        margin-top: -35vh;
    }
}

@media (max-width: 768px) {
    .front-page-background {
        flex-direction: column;
        padding-right: 0px !important;

        .front-page-info-section {
            margin-left: 0vw;
        }
    }

    .background-container {
        margin-top: -46vh;
    }

    app-scroll-down {
        display: none;
    }
}

@media (max-width: 420px) {
    .front-page-info-section {
        margin-left: 0 !important;
    }
}