.about-me-section {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10vw 0px 0px 10vw;
}

.about-me-background {
    float: right;
    margin-top: -85vh;
    
}