.about-me-section {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10vw 0px 0px 10vw;
    position: relative;
    z-index: 20;
}

.about-me-background {
    float: right;
    margin-top: -85vh;
    position: relative;
    z-index: 15;
}

@media (max-width: 768px) {
    .about-me-section {
        padding-left: 5vw !important;
        width: 75vw;
    }
}

