<footer>
  <div>
    <h1>
      <div (click)="scrollWithRedirect()">
        Jess<span class="colored-i"><span>i</span></span
        >c<span style="color: #70e61c">a</span>
      </div>
    </h1>
    <div class="legal d-none-mobile">
      <button [routerLink]="'/legal-notice'" class="legal-btn">
        {{ "FOOTER.LEGAL_NOTICE" | translate }}
      </button>
    </div>
  </div>
  <div class="name-date">&#169; Jessica Manczak 2025</div>
  <app-shared-info-icons></app-shared-info-icons>
  <div class="legal d-none-desktop">
    <button type="button" [routerLink]="'/legal-notice'" class="legal-btn">
      {{ "FOOTER.LEGAL_NOTICE" | translate }}
    </button>
  </div>
</footer>
