.skill-icon-div {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 664px;
    column-gap: 88px;
    row-gap: 24px;
    position: relative;
    }

.skill-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 88px;
    height: 101px;
    padding-top: 12px;
    gap: 10px;
    position: relative;
    }

    .skill-icon:hover .continually-learning {
        display: none;
    }
    
    img { 
        height: 60px;
        width: 53px;
        animation: none;
        }

    img:hover {
        animation: jump-fall 1s ease-in-out;  
        }
    
    .continually-learning {
        width: 95px !important;
        height: 120px !important;
        animation: none !important;
    }

    @keyframes jump-fall {
        0% {
            transform: translateY(0);
        }
        10% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }
    }