<div
  id="privacyPolicy"
  class="privacy-policy"
  ui-view="header"
  autoscroll="true"
>
  <div>
    <h1>{{ "PRIVACY_POLICY.TITLE" | translate }}</h1>
    <img (click)="goBack()" src="assets/img/return.png" alt="Go back" />
  </div>
  <h2>{{ "PRIVACY_POLICY.INFO" | translate }}</h2>
  <p [innerHTML]="'PRIVACY_POLICY.INFO2' | translate"></p>
  <h3>{{ "PRIVACY_POLICY.INFO3" | translate }}</h3>
  <p>
    Jessica Manczak<br />
    Rathausstraße 94<br />
    52477 Alsdorf<br /><br />
    manczakjessica&#64;gmail.com
  </p>
  <h2>{{ "PRIVACY_POLICY.DATA_COLLECTING" | translate }}</h2>
  <h3>{{ "PRIVACY_POLICY.SERVER_LOG" | translate }}</h3>
  <p [innerHTML]="'PRIVACY_POLICY.SERVER_LOG_INFO' | translate"></p>
  <h3>{{ "PRIVACY_POLICY.FONTS" | translate }}</h3>
  <p [innerHTML]="'PRIVACY_POLICY.FONTS_INFO' | translate"></p>
  <h2>{{ "PRIVACY_POLICY.RIGHTS" | translate }}</h2>
  <p [innerHTML]="'PRIVACY_POLICY.RIGHTS_INFO' | translate"></p>
  <h2>{{ "PRIVACY_POLICY.DATA_SECURITY" | translate }}</h2>
  <p [innerHTML]="'PRIVACY_POLICY.DATA_SECURITY_INFO' | translate"></p>
  <h2>{{ "PRIVACY_POLICY.UPDATE" | translate }}</h2>
  <p [innerHTML]="'PRIVACY_POLICY.PRIVACY_POLICY_UPDATE' | translate"></p>
</div>
