.front-page-info-section {
    width: min(45vw, 750px); 
    height: min(1vh, 172px); 
}

.front-page-info {
    color: white;
    display: flex;
    align-items: center;
    /* padding-bottom: 30px; */

    .info-rotate  {
        font-weight: 400;
        transform: rotate(270deg);
        font-size: clamp(32px, 4vw, 64px); 
        width: clamp(80px, 10vw, 152px);
        height: auto;
        white-space: nowrap; 
    }
    
    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
        .info-name {
            font-weight: 700;
            font-size: clamp(36px, 6vw, 66px);
            line-height: 1.2;
        }

        .info-job {
            color: #9747ff;
            font-weight: 400;
            font-size: clamp(28px, 5vw, 54px);
            line-height: 1.2;
        }
    }
}

@media (max-width: 420px) {
    .front-page-info {   
        .info-rotate  {
            font-weight: 400;
            font-size: clamp(20px, 4vw, 40px); 
            width: auto;
        }
        
        .info {       
            .info-name {
                font-weight: 700;
                font-size: clamp(24px, 6vw, 33px);
            }
    
            .info-job {
                font-weight: 400;
                font-size: clamp(20px, 5vw, 40px);
            }
        }
    }
}
