<div id="legalNotice" class="legal-notice">
  <div>
    <h1>{{ "LEGAL_NOTICE.TITLE" | translate }}</h1>
    <a><img (click)="goBack()" src="assets/img/return.png" alt="Go back" /></a>
  </div>

  <h2>{{ "LEGAL_NOTICE.INFO" | translate }}</h2>
  <p>
    Jessica Manczak<br />
    Rathausstraße 94<br />
    52477 Alsdorf<br /><br />
    jessicamanczak&#64;gmx.de
  </p>
  <h2>{{ "LEGAL_NOTICE.DISCLAIMER" | translate }}</h2>
  <h3>{{ "LEGAL_NOTICE.CONTENT_LIABILITY" | translate }}</h3>
  <p [innerHTML]="'LEGAL_NOTICE.CONTENT_INFO' | translate"></p>
  <h2>{{ "LEGAL_NOTICE.LINKS_LIABILITY" | translate }}</h2>
  <p [innerHTML]="'LEGAL_NOTICE.LINKS_INFO' | translate"></p>
  <h2>{{ "LEGAL_NOTICE.COPYRIGHT" | translate }}</h2>
  <p [innerHTML]="'LEGAL_NOTICE.COPYRIGHT_INFO' | translate"></p>
</div>
