div {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 32px;
    z-index: 1;

    .hover {
        width: 30px;
        height: 30px;
        transition: transform 0.2s ease-in-out;
        
    &:hover {
        transform: scale(1.33);
        } 
    }
}