<div class="skill-information">
  <div class="skill-top-information">
    <h1>My skills</h1>
    <img src="assets/img/purple_line.png" alt="Deko Linie" />
  </div>

  <div class="skill-main-information">
    <p>
      I have gained experience in building projects with different<br />
      frontend technologies and concepts.
    </p>
    <h2>Looking for <span>another skill</span>?</h2>
    <p>
      Feel free to contact me. I look forward to expanding<br />
      on my previous knowledge.
    </p>
    <app-button-navigate-to-contact
      [buttonText]="'Get in touch'"
    ></app-button-navigate-to-contact>
  </div>
</div>
