<div class="skill-information">
  <div class="skill-top-information">
    <h1>{{ "SKILLS_INFORMATION.TITLE" | translate }}</h1>
    <img src="assets/img/purple_line.png" alt="Deko Linie" />
  </div>

  <div class="skill-main-information">
    <p>
      {{ "SKILLS_INFORMATION.EXPERIENCE" | translate }}
    </p>
    <h2>
      {{ "SKILLS_INFORMATION.LOOKING" | translate }}
      <span> {{ "SKILLS_INFORMATION.ANOTHER_SKILL" | translate }}</span>
    </h2>
    <p>
      {{ "SKILLS_INFORMATION.MESSAGE" | translate }}
    </p>
    <app-button-navigate-to-contact
      [buttonText]="'CONTACT_BUTTONS.SKILLS_TALK' | translate"
    ></app-button-navigate-to-contact>
  </div>
</div>
