.about-me-img-div {
    display: flex;
    align-items: center;
    justify-content: center;

    .about-me-img {
        width: 28rem;
        height: 28rem;
        border: 5px solid #70E61C;
        border-radius: 50%;
        background-color: #141D30;


        display: flex;
        justify-content: center; 
        align-items: center; 
        overflow: hidden;

        img {   
            width: 44vh;
            position: relative;
            top: 8vh;
            left: -3vw;
        }
    }

    .green-deko-line {
        display: flex;
        
    }
}

@media (max-width: 768px) {
    .about-me-img-div {
        display: none;
    }
}