<div id="portfolio" class="portfolio-projects">
  <div class="portfolio-top">
    <img src="assets/img/purple_line.png" alt="Deko Linie" />
    <h1>Portfolio</h1>
    <img src="assets/img/purple_line_long.png" alt="Deko Linie lang" />
  </div>

  <div class="single-project-structure">
    <div class="portfolio-info">
      <span
        >Explore a selection on my work here - Interact with projects to see my
        skills in action.</span
      >
    </div>
    <app-single-project></app-single-project>
  </div>
</div>
<div class="portfolio-background">
  <img src="assets/img/Green shadow 2.png" alt="Background" />
</div>

<div class="single-project-background">
  <img src="assets/img/Purple shadow 3.png" alt="Background" />
</div>
