.portfolio-projects { 
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: auto;
    color: white;
}

.portfolio-top {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 109px;
    justify-content: flex-end;
    gap: 31px;
    position: relative;
    left: 10vh;
    
        h1 {
            margin: 0;
            font-weight: 700;
            font-size: 90px;
            line-height: 108px;
        }
}

.portfolio-info {
    display: flex;
    align-items: center;
    padding: 0;
}

.single-project-structure {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 100px 0px 100px;
    z-index: 4;
}

.portfolio-background {
    float: left;
    margin-top: -150vh;
}

.single-project-background {
    float: left;
    margin-top: -71vh;

        img {
            width: 30vw;
            height: 68vh;
        }
}

app-single-project{
    min-height: 56vh;
}

@media (min-width: 1920px) {
    .wrapper {
        width: calc(65vw - 752px);
        img {
            width: 100%;
            height: 4px;
        }
    }

    .single-project-structure {
        max-width: 1440px;   
        margin: 0 auto;     
        padding: 0vh 15vw 0vh;   
    }
}

@media (max-width: 1024px) { 
    .portfolio-top {
        position: relative;
        left: 30vh;
        gap: 15px !important;
    }
    
    .single-project-structure {
        padding: 35px 80px 0px 80px !important;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 60px !important;
    }

    .portfolio-top {
        left: 35vh;
    }

    .green {
        position: relative;
        top: -75vh;
        z-index: -1;
    }

    app-single-project{
        min-height: 140vh;
    }
}

@media (max-width: 576px) {
    .portfolio-top {
        left: 25rem;
    }

    .purple {
        display: none;
    }
}

@media (max-width: 430px) {
    h1 {
        font-size: 48px !important;
    }

    .wrapper {
        width: 480px;
    }

}