<div id="portfolio" class="portfolio-projects">
  <div class="portfolio-top">
    <img class="purple" src="assets/img/purple_line.png" alt="Deko Linie" />
    <h1>Portfolio</h1>
    <div class="wrapper">
      <img src="assets/img/purple_line_long.png" alt="Deko Linie lang" />
    </div>
  </div>

  <div class="single-project-structure">
    <div class="portfolio-info">
      <span>{{ "PROJECTS.DESCRIPTION" | translate }}</span>
    </div>
    <app-single-project></app-single-project>
  </div>
</div>
<div class="portfolio-background">
  <img class="green" src="assets/img/Green shadow 2.png" alt="Background" />
</div>

<div class="single-project-background">
  <img src="assets/img/Purple shadow 3.png" alt="Background" />
</div>
