.skill-top-information {
    text-align: right;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 32px;
        
    h1 {
        margin: 0;
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
    }

    .wrapper {
        width: 100px;

        img {
            width: 100%;
            height: 4px;
        }
    }
}

.skill-main-information {
    text-align: right;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    padding-right: 100px;
}

@media (min-width: 1680px) {
    .skill-top-information {
        left: 10vw;

        .wrapper {
            width: 30vw;
        }
    }

    .skill-main-information {
        padding-right: 20vw;
    }
}

@media (min-width: 1440px) {
    .d-none-desktop {
        display: none;
    }
}

@media (max-width: 768px) {
    .skill-top-information {
        position: relative;
        left: 16vw;

        .wrapper {
            width: 200px;
        }
    }

    h1 {
        font-size: 70px !important;
    }
}

@media (max-width: 576px)  {
  h1 {
    font-size: 60px !important;
  }      
} 

@media(max-width: 511px) {
    .skill-main-information {
        padding-right: 10vw !important;
    }
}

@media (max-width: 430px) {
    h1 {
        font-size: 48px !important;
    }
     p {
        font-size: 14px !important;
     }

     .skill-main-information {
        padding-right: 10vw !important;
    }
}

@media (max-width: 350px) {
    p {
        font-size: 13px !important;
    }

    h2 {
        font-size: 20px !important;
    }

    .skill-main-information {
        padding-right: 10vw !important;
    }
} 

app-skills-information-bottom{
    margin-right: 30vw;
}