.app-skills-section {
    display: flex;
    padding: 10vw 0px 0px 10vw;
    height: auto;
    justify-content: space-between;
    

    .skills-icons {
        color: white;
        font-weight: 700;
        font-size: 16px;
        line-height: 19.2px;
      } 
}



