<div id="skills" class="app-skills-section">
  <div class="skills-icons">
    <app-skills-icons></app-skills-icons>
  </div>

  <div class="skills-right-section">
    <app-skills-information-top></app-skills-information-top>
    <app-skills-information-bottom></app-skills-information-bottom>
  </div>
</div>

<div id="skills" class="app-skills-section d-none">
  <div class="skills-right-section">
    <app-skills-information-top></app-skills-information-top>
    <div class="skills-icons">
      <app-skills-icons></app-skills-icons>
    </div>
    <app-skills-information-bottom></app-skills-information-bottom>
  </div>
</div>
