.app-skills-section {
    display: flex;
    padding: 10vw 0px 0px 8vw;
    height: auto;
    justify-content: space-evenly;
    
    .skills-icons {
      color: white;
      font-weight: 700;
      font-size: 16px;
      line-height: 19.2px;
    } 

    .skills-right-section {
      display: flex;
      flex-direction: column;
      gap: 25px;
      position: relative;
    }
}

.d-none {
  display: none;
  justify-content: center;
}

@media (min-width: 1440px) {
  .app-skills-section {
    margin: 0 auto;     
    padding: 10vh 0vw 0vh 20vw;   
    gap: 2vw;        
  }
}

@media (max-width: 768px) {
  .app-skills-section {
    display: none;
  }

  .d-none {
    display: flex;
  }

  .skills-right-section {
    gap: 40px !important;
    padding: 8vw 0px 0px 0px;
    align-items: center !important;
  }
}




