app-header-link {
    display: flex;
    justify-content: space-between;
    gap: 3.5vw;
}

.header {
    background-color: #141D2F;
    height: 109px;
    position: fixed;
    z-index: 1000;
    
    justify-content: space-between;
    display:flex;
    align-items: center;

    width: calc(80vw - 5px);  // f端r die Scrollbar
    padding: 0px 10vw 0px 10vw;    

    .name {
        display: flex;
        width: auto;
        font-family: 'Poppins', sans-serif;
        font-size: 32px;
        color: white;
        cursor: pointer;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    .colored-i {
        position: relative;
        display: inline-block;
    }
    
    .colored-i span {
        position: relative;
        font-family: 'Poppins', sans-serif; 
    }
    
    .colored-i::after {
    content: "";
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 5px;
        height: 5px;
        background-color: #9747FF;
    }
}

.header-structure {
    display: flex;
    align-items: flex-end;
    gap: 30px;
}

.header-links {
    min-width: 114px;
    height: 32px;
}

.header-nav {
    background-color: #9747FF;
}

.header-burger {
    height: 20vh;
    width: 20vw;
}

.d-none-desktop {
    display: none !important;
}

.header-burger {
    height: 35px;
    width: 35px;
    cursor: pointer;
    position: fixed;
    top: 39px;
    right: 20px;
}

.header-menu {
    margin-top: 109px;
    display: flex;
    position: fixed;   
    justify-content: center;
    height: 100vh;
    width: 100%;
    z-index: 9000;
    background-color: rgba(150, 150, 150, 0.75) !important;

    app-header-link {
        flex-direction: column;
        gap: 0px !important;
        justify-content: center;
    }
}

.translate-div {
    display: flex;
    align-items: flex-end;

    .language-img,.language-img2 {
        cursor: pointer;
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
}

.d-none {
    display: none;
}

mat-button-toggle {
    font-family: 'Poppins', sans-serif; 
    font-size: 14px; 
    color: white;
}

::ng-deep .mat-pseudo-checkbox {
    display: none !important;
}

::ng-deep .mat-button-toggle-checked .mat-button-toggle-button {
    padding-left: 0 !important;
    background-color: #70E61C;
    color: black;
}

@media (min-width: 1980px) {
    .header {
        margin: 0 auto !important;
        justify-content: space-around;
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 0px 80px 0px 80px;
        width: calc(100% - 160px - 5px); // f端r die Scrollbar
    }

    .header-structure { 
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .d-none-desktop {
        display: flex !important;
    }

    .d-none-mobile {
        display: none;
    }

    .header-structure { 
        gap: 0px;
    }

    .header-burger {
        right: 10vw;
    }

    .translate-div {
        margin-right: 8vw;
    }
}

@media (max-width: 576px) {
    .header {
        padding: 0px 60px 0px 60px;
        width: calc(100% - 120px - 5px);  // f端r die Scrollbar
    }
}

@media (max-width: 430px) {
    .header {
        padding: 0px 40px 0px 40px;
        width: calc(100% - 80px - 5px);  // f端r die Scrollbar
    }

    ::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        padding: 0 5px !important;
    }
    
    .translate-div {
        margin-right: 12vw;
    }
    
}
