.header-link {
    min-width: 114px;
    height: 32px;
    font-weight: 400;
    font-size: 23px;
    line-height: 27.6px;
    display: flex;
    justify-content: space-evenly;

    a {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    
    a:hover {
        color: #70E61C;
    }
}

.d-none-desktop {
    display: none;
}

@media (max-width: 900px) { 

}


@media (max-width: 768px) { 
    .header-link {
        height: 100px !important;
        justify-content: flex-start;
    }

    .d-none-desktop {
        display: flex;
    }
}  



