.contact {
    display: flex;
    align-items: center;
    padding-top: 109px;
    gap: 32px;

    h1 {
        color: white;
        margin: 0;
        font-weight: 700;
        font-size: 90px;
        line-height: 108px;
        text-align: center;
    }
}

.contact-background-green {
    float: right;
    margin-top: -150vh;
    pointer-events: none;
}

.contact-background-purple {
    display: flex;
    padding-top: 109px;    
    float: left;
    margin-top: -56vh;

    img {
    height: 55vh;
    width: 40vw;
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 80px !important;
    }
    .contact {
        position: relative;
        left: -15vh;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 70px !important;
    }

    .contact {
        gap: 0;
        position: relative;
        left: -29rem;
        
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 60px !important;
    }
}


@media (max-width: 430px) {
    h1 {
        font-size: 48px !important;
    }
}

